.focus-body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.timer {
  width: 15rem;
  height: 15rem;
  display: flex;
  align-items: center;
  justify-content: center;
  /* font-family: 'Odibee Sans', cursive; */
  font-family: 'Rubik', sans-serif;
  font-size: 4rem;
}

.timer > p {
  margin: 0;
}

.logout-btn {
  position: absolute;
  top: 15px;
  right: 10px;
}